<!-- <h1>welcome angular</h1>

<br>

<b>
  Name : {{ name }}<br>
  age : {{ age }}<br>
  email : <input type="text" value="{{ email }}"> 

  <h1>property binding example</h1>
  Name : <input type="text" value="name"><br>
  age : <input type="text" value="age"><br> 
  email : <input type="text" value="email"><br>  

  <h1>Event Binding Example</h1>
  <button (click)="changeName()">change Name</button><br><br>
  <button (click)="changeAge()">change age</button><br><br>
  <button (click)="changeEmail()">change email</button><br><br>

  <br>
  <img [src]="imagePath" width="300" height="200">
  <br>
  <button (click)="changeImage()">change Image</button>
</b>-->
<!-- 

<br>
<h1>Two Data Binding</h1>
<br>
Enter your First Name <input type="text"[(ngModel)]="fname">
<br>
<b>Welcome {{fname}}</b>  -->

<!-- <h1 [ngClass]="myClass">Structural and Attribute Directives Example</h1>
<br>
<button (click)="changeFlag()">Show or Hide Div</button>
<br>  
<br>
<div *ngIf="flag"[ngStyle]="myStyle">
  <br>
  <ul>
    <li *ngFor="let vec of vehicle"(click)="setselecteditem(vec)">{{vec}}</li>
  </ul>
  <b>
    you have selected:{{selectedvehicle}}
  </b>
  <div [ngSwitch]="selectedvehicle">
    <font color="green"*ngSwitchCase="'bike'">bike</font>
    <font color="green"*ngSwitchCase="'car'">car</font>
    <font color="green"*ngSwitchCase="'bus'">bus</font>
    <font color="green"*ngSwitchCase>Invalid</font>
  </div>
  <br>
  <button (click)="changeStyle()">change style</button>
</div> --> 

<!-- <table width="80%" align="center"> 
  <tr>
    <th><a routerLink="home">Home</a></th>
    <th><a routerLink="contact">Contact</a></th>
    <th><a routerLink="about">About</a></th>
  </tr>
</table>
<div>
  This is the space for New Component.
  <router-outlet></router-outlet>
</div> -->

<h1> Addition : {{sum}}</h1>
<h1> Subtraction : {{sub}}</h1>
<h1> Multiplication : {{mul}}</h1>
<h1> Division : {{div}}</h1>